<div id="todo-list-component" ng-controller="TodoListController as todoList">
	<ul class="list-group container">
		<li ng-repeat="todo in todoList.todos" class="list-item">
			<div class="list-group-item">
				<span class="done-{{todo.done}}">{{todo.text}}</span>
				<div class="done-delete-container">
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="customSwitch{{todo.id}}" />
						<label class="custom-control-label" for="customSwitch{{todo.id}}"></label>
					</div>
					<span ng-click="todoList.archive()" class="delete-todo"><i class="fas fa-trash-alt"></i></span>
				</div>
			</div>
		</li>
	</ul>
</div>
